default_language_version:
    python: python3.13

repos:
    - repo: local
      hooks:
          - id: ruff
            name: Ruff
            description: Run Ruff linter and autofixer
            entry: ruff check --fix
            language: python
            types: [python]

          - id: codespell
            name: Codespell
            description: Spell check source files
            entry: codespell
            language: python
            types: [text]

          - id: mypy
            name: MyPy
            description: Run static type checking
            entry: mypy
            language: python
            types: [python]

          - id: yamllint
            name: YAMLLint
            description: Lint YAML files using relaxed config
            entry: yamllint -d relaxed
            language: python
            types: [yaml]
            exclude: (.vscode|.devcontainer|.github)
    - repo: https://github.com/pappasam/toml-sort
      rev: v0.23.1
      hooks:
          - id: toml-sort
            args: ["--in-place", "--all", "--ignore-case"]
            types: [toml]
