default_language_version:
    python: python3.12
repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.3.5
      hooks:
          - id: ruff
            args: [--fix]
          - id: ruff-format
    - repo: https://github.com/codespell-project/codespell
      rev: v2.2.4
      hooks:
          - id: codespell
            additional_dependencies:
                - tomli
    - hooks:
          - id: prettier
      repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.1.0
    - hooks:
          - entry: mypy
            id: mypy
            language: system
            name: mypy
            require_serial: true
            types: [python]
      repo: local
    - hooks:
          - args:
                - -d relaxed
            id: yamllint
            exclude: (.vscode|.devcontainer|.github)
      repo: https://github.com/adrienverge/yamllint.git
      rev: v1.35.1
    - hooks:
          - id: toml-sort-fix
            args: [--in-place]
            types: [toml]
      repo: https://github.com/pappasam/toml-sort
      rev: v0.23.1
