# File Version: 2023.01.27

# https://pypi.org/project/python-typing-update/ doesn't work with python 3.10. Some of the below items seek to re-implement the typing-update flow.

ci:
  skip: [hassfest, pylint]

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
  - repo: https://github.com/myint/autoflake/
    rev: v2.0.0
    hooks:
      - id: autoflake
        files: ^((custom_components)/.+)?[^/]+\.py$
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^((custom_components)/.+)?[^/]+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing,windo
          - --skip="./.*,*.csv,*.json",*.html
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.5.0
          - pydocstyle==5.1.1
          - Flake8-pyproject==1.2.2
        files: ^((custom_components)/.+)?[^/]+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --exclude=examples
        files: ^((custom_components)/.+)?[^/]+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-json
        exclude: (.vscode|.devcontainer)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.29.0
    hooks:
      - id: yamllint
        exclude: (.vscode|.devcontainer|.github)
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.22.3
    hooks:
      - id: toml-sort
        args: []
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: (.vscode|.devcontainer|.mypy_cache|custom_components/.*/__pycache__|pylint)
        args:
          - --output-format=colorized
          - -d W0511
          - --fail-on=all
      - id: hassfest
        name: hassfest
        entry: .devcontainer/run-hassfest.sh
        pass_filenames: false
        language: script
        types: [text]
        files: ^((custom_components)/.+)?[^/]+\.py$
