[BASIC]
class-const-naming-style = any
good-names = _, ev, ex, fp, i, id, j, k, Run, T, ip

[CODE_STYLE]
max-line-length-suggestions = 88

[EXCEPTIONS]
overgeneral-exceptions = BaseException, Exception, HomeAssistantError

[FORMAT]
expected-line-ending-format = LF
max-line-length = 88

[MASTER]
py-version = 3.9
ignore = tests
jobs = 2
load-plugins = pylint.extensions.code_style, pylint.extensions.typing
persistent = false

[MESSAGES CONTROL]
disable = format,abstract-method,cyclic-import,duplicate-code,inconsistent-return-statements,locally-disabled,not-context-manager,too-few-public-methods,too-many-ancestors,too-many-arguments,too-many-branches,too-many-instance-attributes,too-many-lines,too-many-locals,too-many-public-methods,too-many-return-statements,too-many-statements,too-many-boolean-expressions,too-many-nested-blocks,unused-argument,wrong-import-order,consider-using-f-string,consider-using-namedtuple-or-dataclass,consider-using-assignment-expr
enable = useless-suppression, use-symbolic-message-instead

[REPORTS]
score = false

[TYPECHECK]
ignored-classes = _CountingAttr,  # for attrs
mixin-class-rgx = .*[Mm]ix[Ii]n

[TYPING]
runtime-typing = false
